$screen-xs-max: 768px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

body {
  color: gray;
}



.navbar-custom-theme {
  background-color: #1d2026;
  border-color: #1d2026;
}

.big-title {
  padding-top: 200px;
  color: white;
  text-align: center;
}

.big-title > h1 {
  font-size: 5vw;
}

.init-show {
  background-color: #293d48;
  height: 600px;

}

@media (max-height: 670px) {
  .init-show {
    height: 670px !important;
  }
}

@media (max-height: 768px) {
  .init-show {
    height: 800px !important;
  }
}

@media (max-height: 850px) {
  .init-show {
    height: 850px !important;
  }
}

@media (max-height: 904px) {
  .init-show {
    height: 800px !important;
  }
}


@media (min-height: 1024px) {
  .init-show {
    height: 1024px !important;
  }
}


.content-info {
  background-color: rgba(221,221,221, 0.1);
  margin-top: 90px;
}

.a-web {
  border: 1px solid #e0eded;
  box-shadow: 0 1px 3px rgba(0,0,0,0.08);
}

.works-title {
  background-color: #9d9d9d;
  margin: 0 0 1% 0;
  padding: 2%;
  text-align: center;
}

.works-box > img {
  width: 100%;
}

.works-img {
  box-shadow: 0 2px 5px rgba(0,0,0,0.08);
  display: block;
  max-width: 100%;
  height: auto;
}

.database-img-background {
  background-color: beige;
}

.health-img-background {
  background-color: rebeccapurple;
}


.works-body {
  margin: 2% 0 0 0;
  text-align: left;
  padding: 2%;
}

.works-body > a {
  display: block;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: grey;
  margin: 0 0 7px 0;
}


.works-body > a:hover {
  text-decoration: none;
  font-size: 1.8em;
}

.works-body > p {
  font-size: 1.5rem;
  font-weight: normal;
}

.col {
  margin: 3% 0 3% 0;
}

.contact {
  padding-top: 11px;
  background-color: #222a36;
}

.title_contact {
  color: #fff;
  font-size: 40px;
  margin: 0;
  font-weight: 400;
  text-align: center;

}

.footer-top {
  margin-top: 8%;
}

.page-footer {
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #1d2026;
  color: white;
}


.contact-title {
  color: white;
  display: block;
  text-align: center;
  font-size: 1.9vw;
  padding-top: 6%;
}

.contact-img {
  width: 40%;
  display: block;
  margin: 0 auto;
}

.contact-detail {
  color: #000;
  text-align: center;;
}

@media screen and (max-width: $screen-sm-min) {
  .col {
    margin-top: 5%;
  }
}


@media screen and (max-width: $screen-sm-min) {
  .big-title > h1 {
    font-size: 12vw;
  }

  .big-title {
    padding-top: 37vh;
    color: white;
    text-align: center;
  }
}

@media screen and (min-width: $screen-md-min) {
  .big-title > h1 {
    font-size: 37vh;
  }
  .big-title {
    padding-top: 100px;
    color: white;
    text-align: center;
  }
}

@media screen and (min-width: $screen-lg-min) {
  .big-title > h1 {
    font-size: 5vw;
  }
  .big-title {
    padding-top: 37vh;
    color: white;
    text-align: center;
  }
}
